<h1>@ViewData["Title"]</h1>

<form method="POST">
    <div class="mb-3">
        <label>Título</label>
        <br>
        <input type="form-control">
    </div>
    
    <div class="mb-3">
        <label>Data de Entrega</label>
        <br>
        <input type="form-control">
    </div>

    <button class="btn btn-dark bnt-md" type="submit">Salvar</button>
</form>